# Eclipse
.classpath
.metadata/
.settings/
.project

# IntelliJ
*.iml
*.ipr
*.iws
.ideal/

# NetBean
bin/

# Subversion and CVS
.svn/
.cvs/

# Maven
target/

# Compiled files
*.class
*.o
*.obj
*.a
*.lib
*.dll
*.exe

# Temp files
*.bak
*~
